In [147]:
import pandas as pd 
df1 = pd.read_csv('reprocessed.hungarian.data', sep=' ')
df2 = pd.read_csv('processed.cleveland.data', sep=',')
df3 = pd.read_csv('processed.switzerland.data', sep=',')
df4 = pd.read_csv('processed.va.data', sep=',')

In [148]:
df1.columns =['Age', 'sex', 'cp(1-4)', 'trestbps','chol','fbs(1,0)','restecg (0,1,2)','thalach',
            'exang (1,0)','oldpeak','slope (1,2,3)','ca','thal (3,6,7)','class att']
df2.columns =['Age', 'sex', 'cp(1-4)', 'trestbps','chol','fbs(1,0)','restecg (0,1,2)','thalach',
            'exang (1,0)','oldpeak','slope (1,2,3)','ca','thal (3,6,7)','class att']
df3.columns =['Age', 'sex', 'cp(1-4)', 'trestbps','chol','fbs(1,0)','restecg (0,1,2)','thalach',
            'exang (1,0)','oldpeak','slope (1,2,3)','ca','thal (3,6,7)','class att']
df4.columns =['Age', 'sex', 'cp(1-4)', 'trestbps','chol','fbs(1,0)','restecg (0,1,2)','thalach',
            'exang (1,0)','oldpeak','slope (1,2,3)','ca','thal (3,6,7)','class att']

In [149]:
result = pd.concat([df1 , df2 , df3, df4], ignore_index=True, sort=False)

In [150]:
result = result.sample(frac=1)

In [151]:
import numpy as np
result = result.replace('?',np.nan)

In [152]:
result = result[result.isnull().sum(axis=1) < 3]

In [153]:
result = result.replace('?',np.nan)

In [154]:
result['thal (3,6,7)'] = result['thal (3,6,7)'].fillna(0)

In [155]:
result['thal (3,6,7)'] = result['thal (3,6,7)'].astype(str)

In [156]:
result['thal (3,6,7)'] = pd.to_numeric(result['thal (3,6,7)'], errors='coerce')

In [157]:
result['thal (3,6,7)'] = result['thal (3,6,7)'].astype(int)

In [158]:
result['thal (3,6,7)'].value_counts()

-9    265
 3    189
 7    185
 0     80
 6     41
Name: thal (3,6,7), dtype: int64

In [159]:
result['thal (3,6,7)'] = result['thal (3,6,7)'].replace(0,int(result['thal (3,6,7)'].mean()))

In [160]:
result['thal (3,6,7)'].value_counts()

-9    265
 3    189
 7    185
 0     80
 6     41
Name: thal (3,6,7), dtype: int64

In [161]:
result['ca'].value_counts()

-9.0    289
0.0     175
1.0      65
2.0      38
3.0      20
2         3
0.0       3
0         2
1         2
9.0       1
Name: ca, dtype: int64

In [162]:
result['ca'] = pd.to_numeric(result['ca'], errors='coerce')

In [163]:
result['ca'].value_counts()

-9.0    289
 0.0    180
 1.0     67
 2.0     41
 3.0     20
 9.0      1
Name: ca, dtype: int64

In [164]:
result['ca'] = result['ca'].replace(np.nan,int(result['ca'].mean()))

In [165]:
result['slope (1,2,3)'].value_counts()

2.0     231
-9.0    189
1.0     154
2        99
3        27
1        24
3.0      21
Name: slope (1,2,3), dtype: int64

In [166]:
result['slope (1,2,3)'] = result['slope (1,2,3)'].replace(np.nan,-9)

In [167]:
result['slope (1,2,3)'] = pd.to_numeric(result['slope (1,2,3)'], errors='coerce')

In [168]:
result['slope (1,2,3)'] = result['slope (1,2,3)'].astype(int)

In [169]:
result['restecg (0,1,2)'] = pd.to_numeric(result['restecg (0,1,2)'], errors='coerce')

In [170]:
result['restecg (0,1,2)'] = result['restecg (0,1,2)'].astype(int)

In [171]:
result['fbs(1,0)'] = pd.to_numeric(result['fbs(1,0)'], errors='coerce')

In [172]:
result['fbs(1,0)'] = result['fbs(1,0)'].replace(np.nan,int(result['fbs(1,0)'].mean()))

In [173]:
result

,Age,sex,cp(1-4),trestbps,chol,"fbs(1,0)","restecg (0,1,2)",thalach,"exang (1,0)",oldpeak,"slope (1,2,3)",ca,"thal (3,6,7)",class att
699,64.0,0.0,4.0,200,0,0.0,0,140,1,1,2,-3.0,3,3.0
671,59.0,1.0,4.0,135,0,0.0,0,115,1,1,2,-3.0,7,1.0
152,55.0,1.0,4.0,120.0,270.0,0.0,0,140.0,0.0,0.0,-9,-9.0,-9,0.0
869,38.0,1.0,4.0,110,289,0.0,0,105,1,1.5,3,-3.0,0,1.0
49,50.0,1.0,4.0,130.0,233.0,0.0,0,121.0,1.0,2.0,2,-9.0,7,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,41.0,0.0,2.0,110.0,250.0,0.0,1,142.0,0.0,0.0,-9,-9.0,-9,0.0
894,64.0,1.0,4.0,130,258,1.0,2,130,0,0,-9,-3.0,6,2.0
313,64.0,1.0,1.0,110.0,211.0,0.0,2,144.0,1.0,1.8,2,0.0,3,0.0
756,59.0,1.0,4.0,154,0,0.0,1,131,1,1.5,-9,0.0,0,0.0
379,47.0,1.0,3.0,138.0,257.0,0.0,2,156.0,0.0,0.0,1,0.0,3,0.0

In [176]:
result['trestbps'].value_counts()

120.0    102
130.0     90
140.0     81
150.0     40
110.0     40
        ...
174.0      1
178        1
185        1
172.0      1
154        1
Name: trestbps, Length: 96, dtype: int64

In [177]:
result['trestbps'] = result['trestbps'].astype(float)

In [180]:
result['trestbps'] = result['trestbps'].replace(np.nan,int(result['trestbps'].mean()))

In [191]:
result.isnull().describe()

,Age,sex,cp(1-4),trestbps,chol,"fbs(1,0)","restecg (0,1,2)",thalach,"exang (1,0)",oldpeak,"slope (1,2,3)",ca,"thal (3,6,7)",class att
count,760,760,760,760,760,760,760,760,760,760,760,760,760,760
unique,1,1,1,1,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,760,760,760,760,760,760,760,760,760,760,760,760,760,760

In [192]:
result.to_csv('combined and processed.csv', index=False)